<template name="header">
<a class="brand" href="/"> J K </a>
<h1><a href='/'> 醫院績效管理 </a></h1>
{{#if adminLoggedIn}}
	<button id="bsckpis" class="btn btn-primary" "navbar-btn">指標</button>
	<button id="hospitals" class="btn btn-success" "navbar-btn">醫院</button>
	<button id="printable" class="btn btn-default" "navbar-btn">{{currentMode}}</button>
	<hr />
{{/if}}
</template>
