<template name="main">
	<ul class="nav pull-right">
		<li>
			{{loginButtons}}
		</li>
	</ul>
  {{> header}}
  {{#if adminLoggedIn}}
  <div id="man" class= "row-fluid" >
	  {{> newKpiForm}}
	  {{> bsckpis}}
	  {{> hospitals}}
  </div>
  {{/if}}
</template>
