<template name="bsckpis">
{{#if show}}
	<div class="bsckpis">
		<h1> 平衡記分卡指標庫 </h1>
		{{#if showButtons}}
		<button id="newKpiForm" class="btn btn-warning">添加</button>
		{{/if}}
		<hr />
		{{#each kpis}}
			{{> kpi}}
		{{/each}}
	</div>
{{/if}}
</template>
