<template name="editKpiForm">
{{#if show}}
	<div class="editKpiForm">
		<ul>
			<li>一級維度 Perspective: <input type= "text" id="perspective" value={{perspective}} placeholder="perspective" /></li>
			<li>二級維度 Category: <input type= "text" id="category" value={{category}} placeholder="category" /></li>
			<li>指標名稱 Title: <input type="text" id="title" value={{title}} placeholder="title" /></li> 
			<li>定義 Definition: <input type= "text" id="definition" value={{definition}} placeholder="definition" /></li>
			<li>評分類型 Type: <input type= "text" id="type" value={{type}}  placeholder="type" /></li>  
			<li>評分方法 Mesure: <input type= "text" id="mesure" value={{mesure}}  placeholder="mesure" /></li> 
			<li>適用部門 Depts: <input type="text" id="depts" value={{depts}}  /></li>
			<button id="save" class="btn btn-info"> 完成 </button>
		</ul>
	</div>
{{/if}}
</template>
