<template name="viewKpiForm">
	<article class="viewKpiForm" >
		<h4> <a href="/{{perspective}}">{{perspective}}</a> {{category}} {{title}}</h4>
		<ul>
			<li>定義: {{definition}}</li>
			<li>數據類型: {{type}}</li>  
			<li>評分方法: {{mesure}}</li>
			<li>適用科室: {{depts}}</li>
			<!--<li>createdOn: {{createdOn}}</li> </!-->
		</ul>
		{{#if showButtons}}
		<button id="editKpiForm" class="btn btn-info btn-xs"> 編輯 </button> 
		<button id="removeKPI" class="btn btn-danger btn-xs"> 删除 </button>
		{{/if}} 
	</article>
	<hr />
</template>