<template name="editHospitalForm">
{{#if show}}
	<div class="editHospitalForm">
		<ul>
			<li>等级: <input type= "text" id="hospitalClass" value={{hospitalClass}} placeholder="等级" /></li>
			<li>类型: <input type= "text" id="category" value={{category}} placeholder="类型" /></li>
			<li>名稱 Title: <input type="text" id="title" value={{title}} placeholder="名称" /></li> 
			<li>省份 Definition: <input type= "text" id="province" value={{province}} placeholder="省份" /></li>
			<button id="save" class="btn btn-info"> 完成 </button>
		</ul>
	</div>
{{/if}}
</template>
