<template name="newHospitalForm">
{{#if show}}
	<div class="newHospitalForm">
		<input type= "text" id="hospitalClass"  placeholder="等级" />
		<input type= "text" id="category"  placeholder="类型" />
		<input type="text" id="title"  placeholder="名稱" /> <br>
		<input type= "text" id="province"  placeholder="省份" />
		<button id="save" class="btn btn-info"> 完成 </button>
	</div>
{{/if}}
</template>
